<!--file name: index.js
/*

Surya Teja Santhosh kandru
student ID: 301109137
date: 14-02-2021
*/-->

<!DOCTYPE html>
<html lang="en">
 <%- include partials/header.ejs%>

 <%- include partials/main_nav.ejs%>

     
  <!--Main Section-->

    <main class="container">
      <div class="jumbotron">
          <h1 class="display-4"> Welocome to the My Portfolio <%=title%> Page</h1>    
          <h2>Mission Statement:</h2>
            <p style="font-size:large;color:black">My Mission is to take the knowledge and skills i have acquired through eduction and apply them to my     <!--MY MISSION STATEMENT -->
              future career as a Software Engineer. It is my mission to create a working environment where everyone can thrive
              built on the basis of giving back to the community for it has given me many opportunities.
            </p>
        </div>
             
        <a class="nav-link " aria-current="page" href="\about">To Know More About Me Click Here<i class="fas fa-hand-point-left"></i></a>   <!--REDIRECTING TO ABOUT ME PAGE-->

    </main>

  
 <%- include partials/bottom_nav.ejs%>
   
 <%- include partials/footer.ejs%>
