<!DOCTYPE html>
<html lang="en">
 <%- include partials/header.ejs%>

 <%- include partials/main_nav.ejs%>

     
  <!--Main Section-->

    <main class="container">
      <!-- <div class="jumbotron">
          <h1 class="display-4"> Welocome to the My page  <%=title%> page</h1>
          
        </div>
              -->


              <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <h3>Recent Project Experience :</h3>
                        <div class="col-md-6">
                            <h2>Project 1</h2> <img style="height: 400px;width: 700px;" src=".\Assets\images\project1.JPEG"/> 
                        </div>
                            <div class="col-md-6">
                                <p style="font-size:large;color:black">The Project was a Health Care System enabling the user to store and create details of Patients and also 
                                scheduling an appoinment of doctor and Protecting Personal Information of the customers of Hospitals.
                                
                                 </p>
                                 <p style="font-size:large;color:black">As a Web Developer i was Responsible for creating Front-end web modules using Angular and intergrating with restful API's</p>
                            
                            </div> 
                            
                    
                       
                     </div>    
                     <div class="col-lg-12 col-md-12">
                      
                        <div class="col-md-6">
                            <h2>Project 2</h2> <img style="height: 400px;width: 700px;" src=".\Assets\images\project2.JPEG"/> 
                        </div>
                            <div class="col-md-6">
                                <p style="font-size:large;color:black">The Project was a Bank Application , My role involves creating receipients ,Implementing  Wire Transactions Micro Seriveces using Java Spring boot Frame 
                                    Work and react js. 
                                 </p>
                            
                            </div> 
                            <div class="col-lg-12 col-md-12">
                      
                                <div class="col-md-6">
                                    <h2>Project 3</h2> <img style="height: 600px;width: 500px;" src=".\Assets\images\project3.JPEG"/> 
                                </div>
                                    <div class="col-md-6">
                                        <p style="font-size:large;color:black">The Project I am working currently . This application Provides cleainig serives to the users and users can also provide services. My role as 
                                            Agile Cusotmer , Responsible for creating User Stories , conducting  standup call and sprint planning sessions .  
                                         </p>
                                    
                                    </div> 
                            
                    
                       
                     </div> 
                      
                  </div>
              </div>
        
    </main>

  
 <%- include partials/bottom_nav.ejs%>
   
 <%- include partials/footer.ejs%>
